.total_contents_table_left {
	margin: 0px;
	padding: 0px;
	width: 330px;
	float: left;
}
.total_contents_table_comment {
	font-size: 11px;
}

.total_contents_table_right {
	margin: 0px;
	padding: 0px;
	width: 330px;
	float: right;
}
.total_contents {
	width: 670px;
}
